/* Patient List Css */
/* Overall styles */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/* Styles for the patient list container */

.patient-list-container {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 30px; /* Increased padding at the bottom */
  position: fixed;
  top: 0;
  left: 0;
  height: calc(100vh - 30px); /* Adjusted height to account for added padding */
  width: 250px;
  overflow-y: auto;
  transition: width 0.3s ease-in-out;
}

/* Styles for the expanded state */
.patient-list-container.expanded {
  width: 500px; /* Expand width */
}

/* Styles for the patient list header */
.patient-list-header {
  display: flex; /* Center title and toggle button horizontally */
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}

/* Styles for the patient list title */
.patient-list-title {
  font-size: 18px;
  font-weight: bold;
}

/* Styles for the toggle button */
.toggle-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none; /* Remove default outline */
  transform: rotate(
    90deg
  ); /* Initial rotation to point the arrow in the correct direction */
}

.patient-names-container {
  padding: 16px;
}

/* SVG styles for the expand/collapse icon */
.toggle-button svg {
  width: 20px;
  height: 20px;
  fill: #333; /* Adjust icon color if needed */
  transition: transform 0.3s ease-in-out; /* Smooth rotation animation */
}

.toggle-button.expanded svg {
  transform: rotate(
    180deg
  ); /* Correct this as needed to ensure it points in the desired direction */
}

/* Styles for individual patient names */
.patient-name {
  margin-bottom: 5px;
}

/* BAR CHARTS ------------------------------------------*/

.patient-states-container {
  /* Container styles like padding, margin, etc. */
}

.bar-chart {
  list-style: none; /* Remove default list styling */
  padding: 0;
  margin: 0;
}

.bar-chart li {
  display: flex;
  align-items: center;
  margin-bottom: 5px; /* Adjust spacing as needed */
}

.state-label {
  flex: 1; /* Allocate space for state name */
  font-weight: bold;
}

.bar {
  background-color: #333; /* Adjust bar color */
  height: 20px; /* Adjust bar height */
}

.count {
  margin-left: 5px; /* Adjust spacing between bar and count */
}
